/* awesome section */
body {
    margin: 0;
}


.container {
  max-width: 1179px;
  margin: 0 auto;
  background-color: #fff;
}

.section_header {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.section_header h2 {
  text-align: center;
  font-size: 36px;
  line-height: 42.26px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
}

.section_text {
  color: #86878b;
  text-align: center;
  font-size: 18px;
  line-height: 21.13px;
  font-weight: 400;
  margin-bottom: 70px;
  margin-top: 40px;
}

.section_separator {
  display: flex;
  justify-content: center;
  margin: 0;
}

.awesome_about_container {
  display: flex;
  justify-content: space-around;
}

.awesome_about_item {
  max-width: 370px;
  text-align: center;
  padding-right: 30px;
}

.awesome_about_item:last-child {
  padding-right: 0;
}

.awesome_about_item h5 {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  font-family: "Raleway", sans-serif;
}

.awesome_about_item h4 {
  font-weight: 700;
  line-height: 32.68px;
  font-size: 24px;
  margin-top: 0px;
  font-family: "Open Sans", sans-serif;
}

.item_img {
  margin: 0px;
}

/* tabs section  */

.tabs {
  margin-top: 40px;
  box-sizing: border-box;
  margin-bottom: 0;
}

.tabs_header {
  display: flex;
  flex-wrap: nowrap;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  color: #333333;
}

.tabs_header p {
  padding: 10px 82px;
  border-bottom: 1px solid #c6cbcd;
  margin: 0;
  cursor: pointer;
}

.tabs_header p:last-child {
  flex: 1 0 auto;
  cursor: default;
}

.tabs_header .active {
  padding: 10px 82px;
  border: 1px solid #c6cbcd;
  border-bottom: 0px;
  border-radius: 5px 5px 0px 0px;
}

.tabs_content {
  display: flex;
  border-right: 1px solid #c6cbcd;
  border-left: 1px solid #c6cbcd;
  border-bottom: 1px solid #c6cbcd;
}

.text_header {
  height: 125px;
  display: flex;
  align-items: center;
  padding-left: 100px;
}

.content_text h3 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
}

.content_text h5 {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  padding-left: 100px;
  padding-right: 30px;
  margin-top: 27px;
  margin-bottom: 27px;
}

.content_button button {
  background: #ec7979;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  border: none;
  color: #ffffff;
  height: 58px;
  width: 270px;
  text-align: center;
}

.content_button {
  padding-left: 100px;
}

/* pricing section */

.wrapper_grey {
    background: #F5F5F5;
}

.pricing {
    background: #F5F5F5;
    max-width: 1179px;
    margin: 0 auto;
}

.table_header {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
  text-align: center;
  color: #f5f5f5;
  background-color: #333333;
}

.table_price {
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: center;
  color: #f5f5f5;
  background-color: #333333;
}

.table_text {
  color: rgba(255, 255, 255, 0.5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  background-color: #333333;
}

.pricing_table_item td {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  color: #86878b;
  background-color: #fff;
}

.pricing_table_item tr {
  border-top: 2px solid #f5f5f5;
}

.pricing_table_item {
  width: 370px;
  height: 510px;
  border-collapse: collapse;
}


.pricing_table_container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}

.pricing table:hover {
  box-shadow: 0px 4px 10px 0px #33333333;
  border: 2px solid #f5f5f5;
  position: relative;
  top: -20px;
  transition: 0.3s;
}
