.tabs {
  margin-top: 40px;
  box-sizing: border-box;
  margin-bottom: 0;
}

.tabs_header {
  display: flex;
  flex-wrap: nowrap;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  color: #333333;
}

.tabs_header p {
  padding: 10px 82px;
  border-bottom: 1px solid #c6cbcd;
  margin: 0;
  cursor: pointer;
}

.tabs_header p:last-child {
  flex: 1 0 auto;
  cursor: default;
}

.tabs_header .active {
  padding: 10px 82px;
  border: 1px solid #c6cbcd;
  border-bottom: 0px;
  border-radius: 5px 5px 0px 0px;
}

.tabs_content {
  display: flex;
  border-right: 1px solid #c6cbcd;
  border-left: 1px solid #c6cbcd;
  border-bottom: 1px solid #c6cbcd;
}

.text_header {
  height: 125px;
  display: flex;
  align-items: center;
  padding-left: 100px;
}

.content_text h3 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
}

.content_text h5 {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  padding-left: 100px;
  padding-right: 30px;
  margin-top: 27px;
  margin-bottom: 27px;
}

.content_button button {
  background: #ec7979;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  border: none;
  color: #ffffff;
  height: 58px;
  width: 270px;
  text-align: center;
}

.content_button {
  padding-left: 100px;
}
